{% extends "wrapper.html" %}

{% block content %}
<section class="container-fluid">
    <h3 class="text-center">Опрос № {{ polled.id }} к тесту {{ polled.polled_poll.name_poll }} для вас закончен!</h3>
    <table class="mx-auto" style="font-size: 1.3rem;">
        <tr>
            <td class="px-3">
            Кол-во вопросов в тесте:
            </td>
            <td class="px-3">
            {{ polled.polled_qty_quests }}
            </td>
        </tr>
        <tr>
            <td class="px-3">
                Ваш бал за тест:
            </td>
            <td class="px-3">
                {{ polled.polled_total_perc }}
            </td>
        </tr>
    </table>
</section>
{% endblock %}
