{% block header %}
{% load static %}

<!-- Fixed navbar -->

<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        {% if user.is_authenticated %}
          <a class="btn btn-light mr-1 {% if '/quest_formset_render/' in request.path %} proactive{% endif %}" href="/">Доступные тесты</a>
          <a class="btn btn-light mr-1 {% if '/quest_formset_render/' in request.path %} proactive{% endif %}" href="{% url 'polled:polledlist_n' %}">Пройденные тесты</a>
          {% endif %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample03">
              {% if not time_for_js_countdown %}
              <ul class="navbar-nav d-none">
              {% else %}
              <ul class="navbar-nav mx-auto">
              {% endif %}
            <!-- <ul class="navbar-nav mx-auto {% if not '/polled/quest_formset_render/' in request.path %}d-none{% endif %}"> -->
              <!-- <li class="nav-item active time-for-countdown">
                {{time_for_countdown}}
              </li> -->

                  <li class="nav-item">
                      <div id="py-to-js-date" class="display-none">{{time_for_js_countdown.isoformat}}</div>
                  </li>
                  <li class="nav-item">
                      <div class="time_countdown px-2">
                          Время на тест:
                      </div>
                  </li>
                  <li class="nav-item">
                      <div id="time_countdown"></div>
                  </li>
              </div>

              <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li> -->
            </ul>
            <div class="ml-auto">
                   {% if user.is_authenticated %}
                     <div>
                         <a href="{% url 'logout'%}?next={{request.path}}">{{ user.get_username }}</a>
                     </div>
                   {% else %}
                     <div><a href="{% url 'login'%}">Login</a></div>
                   {% endif %}
            </div>
          </div>
        </nav>
</header>
{% endblock header %}
