/* th{background-color: green;} */
/* .collapsed-pressed{
    display: none;
} */
/* .column-quest_category_title{
    display: none;
} */
.column-quest_category_title{
    visibility:hidden;
}
.field-quest_category_title > input{
    visibility:hidden;
}
td.original > p{
    display: none;
}

tr.has_original td{
    padding: 0.5rem !important;
    /* color: white; */
}
tbody.djn-dynamic-form-polled-polleditemlist > tr.has_original{
    background-color: #b7b7b7;
    margin: 100px !important;
}
tr.djn-tr{
    background-color: white;
}
.historylink{
    display: none !important;
}
