.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color:
    #f5f5f5;
}
/* formset render */
.select-label-form-row tr td:nth-child(3n+3) {
    display: none;
}
.select-label-form-row tr td:nth-child(3n+2) {
    width: 15px;
    text-align: center;
}
.quest-image{
        max-height: 300px;
}
#time_countdown, .time_countdown{
    color: #007bff;
    font-size: 1.5rem;
}
#py-to-js-date{
    display: none;
}
/* .select-label-form-row select{
    display: block;
    max-width: 900px;
    overflow: visible;
    height: 150px;
}
.select-label-form-row option{
    display: block;
    /* max-width: 900px;
    overflow: visible; */
    /* background-color: red;
    height: 150px;
}
select{
    word-wrap: break-word; */
    /* background-color: green; */
/* } */
